:root {
    --color-1: #394867;
    --color-2: #212A3E;
    --placeholder-color: #b9b9b9;
    --info-card-color: #95a0bf;
    --movie-card-color-1: #e73a3a;
    --movie-card-color-2: #000000b0;
    --movie-card-width: 10rem;
    --white-color: white;
    --yellow-color: #f3f365;
}

/* custom css */
.flex {
    display: flex;
}

.flex-aln-center {
    align-items: center;
}

.flex-d-col {
    flex-direction: column;
}

.flex-jst-center {
    justify-content: center;
}

.flex-jst-sb {
    justify-content: space-between;
}

.flex-jst-sa {
    justify-content: space-around;
}

.none{
    display: none !important;
}